<!DOCTYPE html>
<html lang="ru">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "fav.png" %}">
    <link rel="stylesheet" href="{% static "css/menu.css" %}">
    <title>{% block title %}Menu{% endblock title %}</title>
    {% for message in messages %}
      <div hidden id="alertMessage" role="alert">{{ message }}</div>
    {% endfor %}
  </head>
  <body>
    {% include "includes/sidebar.html" %}
    <main class="right">
      {% block content %}
        <h1>No content...</h1>
      {% endblock content %}
    </main>
    <script src="{% static "js/menu.js" %}"></script>
  </body>
</html>
