button {
    border-radius: 0.5cap;
}
button:hover {
    background-color: rgb(200, 202, 205);
}
.title-menu {
    font-size: 120%;
    font-weight: bold;
}
.sidebar {
    position: absolute;
    padding: 2vmax;
    left: 0;
    top: 0;
    width: 15%;
    height: 90%;
    /* min-height: 100vh;
    max-height: max-content; */
    border-radius: 2cap;
    overflow-y: auto;
    scrollbar-width: none;
}
.sidebar:hover {
    box-shadow: 10px 0px 30px rgba(0, 0, 0, 0.2);
}
.right {
    position: absolute;
    padding: 2vmax;
    right: 0;
    top: 0;
    width: 77%;
    height: 90%;
    /* min-height: 100vh;
    max-height: max-content; */
    border-radius: 2cap;
    overflow-y:auto;
    scrollbar-width:none;
}
.right:hover {
    box-shadow: -10px 0px 30px rgba(0, 0, 0, 0.2);
}
body {
    background-color: rgb(195, 191, 191);
}
menu {
    text-align: center;
}
a {
    text-decoration: none;
}
a:hover {
    color: green;
}
.tree {
    list-style-type: none;
    padding-left: 5px;
}
.tree li {
    position: relative;
    padding-left: 5px;
}
.tree li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.tree li span {
    cursor: pointer;
}
.tree li span:hover {
    color: green;
}
